@use 'variaveis';

.hero{
    background: linear-gradient(to top, variaveis.$corFundo, rgba(variaveis.$corFundo, 80%), rgba(0, 0, 0, 0.048), transparent),
                url(../images/fantastics_beasts_hero.png);
    padding: 8vw;
    min-height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: 767px) {
        min-height: 60vh;
    }

    @media (max-width: 767px){
        background-size: contain;
    }

    &__content{
        max-width: 540px;

        &__branding{
            display: flex;

            @media (max-width: 767px) {
                position: relative;
                overflow: hidden;
            }

            
            img{
                width: 100%;
                
                @media (max-width: 767px) {
                    display: flex;
                    justify-content: center;
                    margin-top: 55px;
                }
            }
            
        }

        &__specification{
            display: flex;
            flex-wrap: wrap;

            p{
                margin-right: 16px;
                margin-top: 16px;
            }
        }
        .specification_move{
            margin-top: 20px;
            margin-bottom: 30px;
        }

        p{
            margin-bottom: 20px;
        }
    }
}